@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@foreach (var url in Urls)
{
    <p>@url</p>
}

@code {
    string[] Urls = Environment.GetEnvironmentVariable("NODE_URLS").Split(',');
}